@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Fira+Mono);

html {
    background: rgba(0, 0, 0, 0) url("../img/texture.jpg") repeat scroll 0 0;
    height:100%;
}

body { 
	color: #000;
	font-family: 'Droid Sans', sans-serif;
    background: rgba(0, 0, 0, 0) url("../img/transparent_gradient.png") repeat-x fixed 0 0;
    margin: 0;
    padding: 20px 0 0;
    height:100%;
}

h1 {
	font-size: 80px;
	font-weight: 900;
	text-align: right;
	font-family: 'Fira Mono', ;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
	color: 	#4C4C4C;
}

a:hover {
	color: #fff;
}

ul.nobullet {
	list-style-type: none;
	margin: 5% auto auto auto; /* top right bottom left */
	text-align: left;
}

li.enum {
	font-size: 30px;
    background-image: url(../img/list_gradient.png);
    background-repeat: no-repeat;
    background-position: -10% 50%;
    padding: 15px;
    margin: 5px;
    width: 35%;
}

li.enum:hover {
	font-size: 25px;
    background-image: url(../img/list_gradient_hover.png);
    background-repeat: no-repeat;
    background-position: -10% 50%;
    padding: 15px;
    margin: 5px;
}

#prism {
	width: 180px;
	height: 150px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
}


#settings {
	width: 100%;
	height: auto;
	margin: 0 0px 0 auto;
	
}

#wrapper {
	width: 90%;
	border-radius: 15px;
	background: #f2f2eb url("../img/styrofoam.jpg") repeat scroll 0 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	height: 90%;
	max-width: 80%;
	margin: auto 9% auto 9%; /* top right bottom left */
	padding: 1%;
}

#landing-page {
	position: relative;
	margin-right: 10%;
	float: right;
}

/* 404 error */
.error-404 {
    width: 404px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border:1px solid lightgrey;
}
.logo-404 {
    background-image: url(http://img14.deviantart.net/5e08/i/2014/116/2/a/gear_icon__version_4__by_weabb-d7g2d1u.png);
    background-size: 100% 100%;
    width: 300px;
    height: 300px;
    margin: 0 0 44px 44px;
}

