@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Fira+Mono:700);

html {
    background: rgba(0, 0, 0, 0) url("../img/texture.jpg") repeat scroll 0 0;
}

body { 
	color: #000;
	font-family: 'Droid Sans', sans-serif;
    background: rgba(0, 0, 0, 0) url("../img/transparent_gradient.png") repeat-x fixed 0 0;
    margin: 0;
    padding: 20px 0 0;
}

h1 {
	font-size: 50px;
	text-align: right;
	font-family: 'Fira Mono', ;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
	color: 	#4C4C4C;
}

a:hover {
	color: #fff;
}
a.menu:hover {
	font-size: 25px;
}



ul.nobullet {
	font-size: 20px;
	list-style-type: none;
    padding-right: 20px;
	text-align: left;
}

li.enum {
	font-size: 30px;
    background-image: url(../img/rayy.png);
    background-repeat: no-repeat;
    background-position: -10% 50%;
    background-size: 15%;
    padding: 10px;
}

#prism {
	width: 180px;
	height: 150px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
}


#settings {
	width: 100%;
	height: auto;
	margin: 0 0px 0 auto;
	
}

#wrapper {
	width: 90%;
	border-radius: 15px;
	background: #f2f2eb url("../img/styrofoam.jpg") repeat scroll 0 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	height: auto;
	max-width: 80%;
	margin: 0% 9% 0% 9%;
	padding: 1%;
}

#landing-page {
	position: relative;
	margin: 0% 10% 0% 10%; /* top right bottom left */
	text-align: center;
}
